<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Elegir Creacion de Trayecto</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./imagenes/logo.png" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="./css/styles.css" rel="stylesheet" />
  <link href="./css/estiloBotones.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color3">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">
            <img src="./imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Impacto Ambiental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" id="navRegistrarTrayecto" href="#about">Registrar trayecto</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownHC" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Calcular impacto HC</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHC">
                        <li><a class="dropdown-item" href="#!">Anual</a></li>
                        <!--<li><hr class="dropdown-divider" /></li>-->
                        <li><a class="dropdown-item" href="#!">Mensual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav1" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-end">
                <li class="nav-item"><a class="nav-link" id="cerrarSesion" aria-current="page">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Section-->
<section class="h-100" style="background-color: #ffffff">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                {{#each areas}}
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <input class="radio" type="radio" id="area" name="areas">
                                    <label for="area" onclick=mostrarValor("{{nombre}}")> {{nombre}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>


<div class="botones">
  <button id="botonNuevo" class = "botonNuevo"> Nuevos </button>
  <button id = "botonExistente" class="botonExistentes"> Existentes </button>
</div>


<!-- Footer-->

<footer class="py-5 bg-color1 fixed-bottom">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mi Impacto Ambiental 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="./js/redireccionEntrePaginas.js"></script>
<script src="./js/funcionesComunes.js"></script>

<script>
    let pasarDePagina = false
    document.getElementById("botonNuevo").addEventListener('click', e=>{
        e.preventDefault()
        console.log(document.getElementById("area").value)
        cambiarUrlSinIdSesion("registrarTrayectoNuevo")
    })


    document.getElementById("botonExistente").addEventListener('click', e => {
        e.preventDefault()
        console.log(document.getElementById("area").value)
       cambiarUrlSinIdSesion("registrarTrayectoExistente")



    })

    document.getElementById("area").addEventListener('click', e => {
        pasarDePagina = true
        console.log(document.getElementById("area").value)
    })

    function mostrarValor(nombre){
        console.log(nombre)
    }

</script>
<!-- Core theme JS-->
</body>
</html>
