<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Registrar trayecto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color3">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">
            <img src="../static/imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Impacto Ambiental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#about">Registrar trayecto</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownHC" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Calcular impacto HC</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHC">
                        <li><a class="dropdown-item" href="#!">Anual</a></li>
                        <!--<li><hr class="dropdown-divider" /></li>-->
                        <li><a class="dropdown-item" href="#!">Mensual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav1" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-end">
                <li class="nav-item"><a class="nav-link active" aria-current="page">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Section-->
<div class="formulario1">
    <h1> Registrar trayecto</h1>
    <form class="row g-3">
        <div class="col-md-6">
            <h5>Completar el punto de partida</h5>
        </div>
        <div class="col-md-6">
            <h5>Completar el punto de llegada</h5>
        </div>

        <div class="col-md-6">
            <label for="tipoEspacio" class="form-label">Tipo de espacio</label>
            <select id="tipoEspacio" class="form-select">
                <option selected>Elegir...</option>
                <option value="trabajo">Espacio de Trabajo</option>
                <option value="hogar">Hogar</option>
                <option value="parada">Parada</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="tipoEspacio2" class="form-label">Tipo de espacio</label>
            <select id="tipoEspacio2" class="form-select">
                <option selected>Elegir...</option>
                <option value="trabajo">Espacio de Trabajo</option>
                <option value="hogar">Hogar</option>
                <option value="parada">Parada</option>
            </select>
        </div>

        <div class="hidden" id="claseHogar2">
            <div class="col-md-6">
                <div>
                    <label for="pisoHogar" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoHogar2">
                </div>
                <div>
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="departamento2">
                </div>
                <div>
                    <label for="inputHogar" class="form-label">Tipo de Hogar</label>
                    <select id="inputHogar" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="1">Casa</option>
                        <option value="2">Departamento</option>
                        <option value="3">Residencia</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="hidden" id="claseEspacioTrabajo2" >
            <div class="col-md-6">
                <div>
                    <label for="pisoTrabajo" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoTrabajo2">
                </div>
                <div>
                    <label for="unidad" class="form-label">Unidad</label>
                    <input type="text" class="form-control" id="unidad2">
                </div>
            </div>

        </div>

        <div class="hidden" id="claseEspacioTrabajo" >
            <div class="col-md-6">
                <div>
                    <label for="pisoTrabajo" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoTrabajo">
                </div>
                <div>
                    <label for="unidad" class="form-label">Unidad</label>
                    <input type="text" class="form-control" id="unidad">
                </div>
            </div>

        </div>



        <div class="hidden" id="claseHogar">
            <div class="col-md-6">
                <div>
                    <label for="pisoHogar" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoHogar">
                </div>
                <div>
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="departamento">
                </div>
                <div>
                    <label for="inputHogar2" class="form-label">Tipo de Hogar</label>
                    <select id="inputHogar2" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="1">Casa</option>
                        <option value="2">Departamento</option>
                        <option value="3">Residencia</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <label for="inputLatitud1" class="form-label">Latitud</label>
            <input type="number" class="form-control" id="inputLatitud1">
        </div>
        <div class="col-md-6">
            <label for="inputLatitud2" class="form-label">Latitud</label>
            <input type="number" class="form-control" id="inputLatitud2">
        </div>
        <div class="col-md-6">
            <label for="inputLongitud1" class="form-label">Longitud</label>
            <input type="number" class="form-control" id="inputLongitud1">
        </div>
        <div class="col-md-6">
            <label for="inputLongitud2" class="form-label">Longitud</label>
            <input type="number" class="form-control" id="inputLongitud2">
        </div>
        <div class="col-md-6">
            <label for="inputProvincia1" class="form-label">Provincia</label>
            <input type="number" class="form-control" id="inputProvincia1">
        </div>
        <div class="col-md-6">
            <label for="inputProvincia2" class="form-label">Provincia</label>
            <input type="number" class="form-control" id="inputProvincia2">
        </div>
        <div class="col-6">
            <label for="inputMunicipio1" class="form-label">Municipio</label>
            <select id="inputMunicipio1" class="form-select">
                <option selected>Elegir...</option>
                <option value="1">Municipio1</option>
                <option value="2">Municipio2</option>
                <option value="3">Municipio3</option>
            </select>
        </div>
        <div class="col-6">
            <label for="inputMunicipio2" class="form-label">Municipio</label>
            <select id="inputMunicipio2" class="form-select">
                <option selected>Elegir...</option>
                <option value="1">Municipio1</option>
                <option value="2">Municipio2</option>
                <option value="3">Municipio3</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputLocalidad1" class="form-label">Localidad</label>
            <select id="inputLocalidad1" class="form-select">
                <option selected>Elegir...</option>
                <option value="1">Localidad1</option>
                <option value="2">Localidad2</option>
                <option value="3">Localidad3</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputLocalidad2" class="form-label">Localidad</label>
            <select id="inputLocalidad2" class="form-select">
                <option selected>Elegir...</option>
                <option value="1">Localidad1</option>
                <option value="2">Localidad2</option>
                <option value="3">Localidad3</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputDireccion1" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion1">
        </div>
        <div class="col-md-6">
            <label for="inputDireccion2" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion2">
        </div>
        <div class="col-md-6">
            <label for="inputNumero1" class="form-label">Numero</label>
            <input type="number" class="form-control" id="inputNumero1">
        </div>
        <div class="col-md-6">
            <label for="inputNumero2" class="form-label">Numero</label>
            <input type="number" class="form-control" id="inputNumero2">
        </div>
        <div class="col-md-6">
            <label for="inputCodigoPostal1" class="form-label">Codigo Postal</label>
            <input type="number" class="form-control" id="inputcodigoPostal1">
        </div>
        <div class="col-md-6">
            <label for="inputCodigoPostal2" class="form-label">Codigo Postal</label>
            <input type="number" class="form-control" id="inputcodigoPostal2">
        </div>
        <div class="col-md-6">
            <label class="form-label">Fecha de Inicio</label>
            <input type="date" id="startInicio" name="trip-start" value="2018-07-22" min="2018-01-01" max="2022-12-31">
        </div>
        <div class="col-md-6">
            <label class="form-label">Fecha de Fin</label>
            <input type="date" id="startFin" name="trip-start" value="2018-07-22" min="2018-01-01" max="2022-12-31">
        </div>
        <div class="col-md-6">
            <label class="form-label">Cantidad de dias utilizado</label>
            <input type="number" class="form-control" id="inputdiasUtilizados">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
                <!--<label for="sel2">Seleccione los tramos que son parte del trayecto:</label>-->
            <label class="form-label">Seleccione los tramos que son parte del trayecto</label>
                <select multiple class="form-control" id="sel2">
                    <option>Tramo1</option>
                    <option>Tramo2</option>
                    <option>Tramo3</option>
                    <option>Tramo4</option>
                    <option>Tramo5</option>
                </select>
            </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>
<!-- Footer-->
<footer class="py-5 bg-color1">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mi Impacto Ambiental 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script>

   const espacioSeleccionado = document.getElementById("tipoEspacio")
   const espacioSeleccionado2 = document.getElementById("tipoEspacio2")

    espacioSeleccionado.addEventListener('change', e => {
        e.preventDefault();
        mostrarOpcionesSegunClase(espacioSeleccionado.value);
    });

   espacioSeleccionado2.addEventListener('change', e => {
       e.preventDefault();
       mostrarOpcionesSegunClase2(espacioSeleccionado2.value);
   });



   const espacioTrabajo = document.getElementById("claseEspacioTrabajo");
   const espacioHogar= document.getElementById("claseHogar");
   const espacioTrabajo2 = document.getElementById("claseEspacioTrabajo2");
   const espacioHogar2= document.getElementById("claseHogar2");
   //const espacioParada = document.getElementById("claseParada");

    function mostrarOpcionesSegunClase(valor) {
        if(valor === "trabajo") {
            console.log("trabajooooooooo")
            espacioTrabajo.classList.remove("selectorDeClase");
            espacioHogar.classList.add("selectorDeClase");
        }else{
            if(valor === "hogar") {
                console.log("hogaaaaaaaaaaaaaaaaaar")
                espacioTrabajo.classList.add("selectorDeClase");
                espacioHogar.classList.remove("selectorDeClase");
            } else{
                if(valor === "parada"){
                    espacioTrabajo.classList.add("selectorDeClase");
                    espacioHogar.classList.add("selectorDeClase");
            }
            }
        }
    }
   function mostrarOpcionesSegunClase2(valor) {
       if(valor === "trabajo") {
           console.log("trabajooooooooo")
           espacioTrabajo2.classList.remove("selectorDeClase");
           espacioHogar2.classList.add("selectorDeClase");
       }else{
           if(valor === "hogar") {
               console.log("hogaaaaaaaaaaaaaaaaaar")
               espacioTrabajo2.classList.add("selectorDeClase");
               espacioHogar2.classList.remove("selectorDeClase");
           } else{
               if(valor === "parada"){
                   espacioTrabajo2.classList.add("selectorDeClase");
                   espacioHogar2.classList.add("selectorDeClase");
               }
           }
       }
   }




</script>
</body>
</html>
