<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Registrar trayecto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="imagenes/logo.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color3">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">
            <img src="imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Impacto Ambiental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#about">Registrar trayecto</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownHC" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Calcular impacto HC</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHC">
                        <li><a class="dropdown-item" href="#!">Anual</a></li>
                        <!--<li><hr class="dropdown-divider" /></li>-->
                        <li><a class="dropdown-item" href="#!">Mensual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav1" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-end">
                <li class="nav-item"><a class="nav-link active" aria-current="page">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Section-->
<form class="trayectos" id="trayectos">

    <h1> Registrar trayecto </h1>

    <div class="fecha">
        <label class="">Fecha de Inicio</label>
        <input type="date" id="startInicio" name="trip-start" value="2018-07-22" min="2018-01-01" max="2022-12-31">
    </div>

    <div class="fecha">
        <label class="">Fecha de Fin</label>
        <input type="date" id="startFin" name="trip-start" value="2018-07-22" min="2018-01-01" max="2022-12-31">
    </div>
    <div class="diasUso">
        <label class="">Cantidad de dias utilizado</label>
        <input type="number" class="form-control" id="inputdiasUtilizados">
    </div>

    <div class="partida" id="partida">

        <div class="col-md-6">
            <h3>Completar el punto de partida</h3>
        </div>
       <p>¿Desea crear un espacio nuevo o usar uno existente?</p>
        <div id="opcionesPartida">
            <label for="tipoPartida" class="form-label"></label>
            <select id="tipoPartida" class="form-select">
                <option selected>Elegir...</option>
                <option value="nuevo">Nuevo</option>
                <option value="existente">Existente</option>

            </select>
        </div>

        <div class= "hidden" id="espacioNuevoPartida">

            <div>
                <label for="tipoEspacioPartida" class="form-label">Tipo de espacio</label>
                <select id="tipoEspacioPartida" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="trabajo">Espacio de Trabajo</option>
                    <option value="hogar">Hogar</option>
                    <option value="parada">Parada</option>
                </select>
            </div>

            <div class="hidden" id="claseEspacioTrabajoPartida" >
                <div>
                    <div>
                        <label for="pisoTrabajoPartida" class="form-label">Piso</label>
                        <input type="number" class="form-control" id="pisoTrabajoPartida">
                    </div>
                    <div>
                        <label for="unidadPartida" class="form-label">Unidad</label>
                        <input type="text" class="form-control" id="unidadPartida">
                    </div>
                </div>

            </div>

            <div class="hidden" id="claseHogarPartida">
                <div class="col-md-6">
                    <div>
                        <label for="pisoHogarPartida" class="form-label">Piso</label>
                        <input type="number" class="form-control" id="pisoHogarPartida">
                    </div>
                    <div>
                        <label for="departamentoPartida" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="departamentoPartida">
                    </div>
                    <div>
                        <label for="inputHogarPartida" class="form-label">Tipo de Hogar</label>
                        <select id="inputHogarPartida" class="form-select">
                            <option selected>Elegir...</option>
                            <option value="1">Casa</option>
                            <option value="2">Departamento</option>
                            <option value="3">Residencia</option>
                        </select>
                    </div>
                </div>

            </div>

            <div id="valoresComunesPartida">

                <div class="col-md-6">
                    <label for="inputLatitud1" class="form-label">Latitud</label>
                    <input type="number" class="form-control" id="inputLatitud1">
                </div>

                <div class="col-md-6">
                    <label for="inputLongitud1" class="form-label">Longitud</label>
                    <input type="number" class="form-control" id="inputLongitud1">
                </div>

                <div class="col-md-6">
                    <label for="inputProvincia1" class="form-label">Provincia</label>
                    <input type="number" class="form-control" id="inputProvincia1">
                </div>

                <div class="col-6">
                    <label for="inputMunicipio1" class="form-label">Municipio</label>
                    <select id="inputMunicipio1" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="1">Municipio1</option>
                        <option value="2">Municipio2</option>
                        <option value="3">Municipio3</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="inputLocalidad1" class="form-label">Localidad</label>
                    <select id="inputLocalidad1" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="1">Localidad1</option>
                        <option value="2">Localidad2</option>
                        <option value="3">Localidad3</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="inputDireccion1" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="inputDireccion1">
                </div>

                <div class="col-md-6">
                    <label for="inputNumero1" class="form-label">Numero</label>
                    <input type="number" class="form-control" id="inputNumero1">
                </div>

                <div class="col-md-6">
                    <label for="inputCodigoPostal1" class="form-label">Codigo Postal</label>
                    <input type="number" class="form-control" id="inputcodigoPostal1">
                </div>


            </div>

        </div>


        <div class= "hidden" id="espaciosExistentesPartida" >
            <div class="col-md-6">
                 <label class="form-label">Seleccione un punto de partida existente</label>
                <select multiple class="form-control" id="puntoPartidaExistente">
                    <option>Partida1</option>
                    <option>Partida2</option>
                    <option>Partida3</option>
                    <option>Partida4</option>
                    <option>Partida5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="llegada" id="llegada">
        <div>
            <h3> Completar el punto de llegada </h3>
        </div>
        <div id="opcionesLlegada">
            <p>¿Desea crear un espacio nuevo o usar uno existente?</p>
            <label for="tipoLlegada" class="form-label"></label>
            <select id="tipoLlegada" class="form-select">
                <option selected>Elegir...</option>
                <option value="nuevo">Nuevo</option>
                <option value="existente">Existente</option>

            </select>
        </div>

        <div class= "hidden" id="espacioNuevoLlegada">

            <div>
                <label for="tipoEspacioLlegada" class="form-label">Tipo de espacio</label>
                <select id="tipoEspacioLlegada" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="trabajo">Espacio de Trabajo</option>
                    <option value="hogar">Hogar</option>
                    <option value="parada">Parada</option>
                </select>
            </div>

        <div class="hidden" id="claseEspacioTrabajoLlegada" >
            <div>
                <div>
                    <label for="pisoTrabajoLlegada" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoTrabajoLlegada">
                </div>
                <div>
                    <label for="unidadLlegada" class="form-label">Unidad</label>
                    <input type="text" class="form-control" id="unidadLlegada">
                </div>
            </div>

        </div>

        <div class="hidden" id="claseHogarLlegada">
            <div class="col-md-6">
                <div>
                    <label for="pisoHogarLlegada" class="form-label">Piso</label>
                    <input type="number" class="form-control" id="pisoHogarLlegada">
                </div>
                <div>
                    <label for="departamentoLlegada" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="departamentoLlegada">
                </div>
                <div>
                    <label for="inputHogarLlegada" class="form-label">Tipo de Hogar</label>
                    <select id="inputHogarLlegada" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="1">Casa</option>
                        <option value="2">Departamento</option>
                        <option value="3">Residencia</option>
                    </select>
                </div>
            </div>

        </div>

            <div class="col-md-6">
                <label for="inputLatitud2" class="form-label">Latitud</label>
                <input type="number" class="form-control" id="inputLatitud2">
            </div>

            <div class="col-md-6">
                <label for="inputLongitud2" class="form-label">Longitud</label>
                <input type="number" class="form-control" id="inputLongitud2">
            </div>

            <div class="col-md-6">
                <label for="inputProvincia2" class="form-label">Provincia</label>
                <input type="number" class="form-control" id="inputProvincia2">
            </div>

            <div class="col-6">
                <label for="inputMunicipio2" class="form-label">Municipio</label>
                <select id="inputMunicipio2" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="1">Municipio1</option>
                    <option value="2">Municipio2</option>
                    <option value="3">Municipio3</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="inputLocalidad2" class="form-label">Localidad</label>
                <select id="inputLocalidad2" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="1">Localidad1</option>
                    <option value="2">Localidad2</option>
                    <option value="3">Localidad3</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="inputDireccion2" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="inputDireccion2">
            </div>

            <div class="col-md-6">
                <label for="inputNumero2" class="form-label">Numero</label>
                <input type="number" class="form-control" id="inputNumero2">
            </div>

            <div class="col-md-6">
                <label for="inputCodigoPostal2" class="form-label">Codigo Postal</label>
                <input type="number" class="form-control" id="inputcodigoPostal2">
            </div>

        </div>

        <div class= "hidden" id="espaciosExistentesLlegada" >
            <div class="col-md-6">
                <label class="form-label">Seleccione un punto de llegada existente</label>
                <select multiple class="form-control" id="puntoLlegadaExistente">
                    <option>Llegada1</option>
                    <option>Llegada2</option>
                    <option>Llegada3</option>
                </select>
            </div>
        </div>


    </div>

    <div id="registrar">
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar Trayecto</button>
    </div>
</form>

<form id="tramos" class="hidden">

    <h3> Cargar tramos </h3>

    <div id="generalTramo">

        <h5> ¿Querés usar un tramo existente o querés crear uno nuevo?</h5>
        <div id="opcionesTramo">
            <label for="tipoTramo" class="form-label"></label>
            <select id="tipoTramo" class="form-select">
                <option selected>Elegir...</option>
                <option value="nuevo">Nuevo</option>
                <option value="existente">Existente</option>
            </select>
        </div>

        <div id="tramoNuevo" class = "hidden">


            <div class="partida" id="partidaTramo">

                <div class="col-md-6">
                    <h3>Completar el punto de partida</h3>
                </div>
                <p>¿Desea crear un espacio nuevo o usar uno existente?</p>
                <div id="opcionesPartidaTramo">
                    <label for="tipoPartidaTramo" class="form-label"></label>
                    <select id="tipoPartidaTramo" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="nuevo">Nuevo</option>
                        <option value="existente">Existente</option>
                    </select>
                </div>

                <div class= "hidden" id="espacioNuevoPartidaTramo">

                    <div>
                        <label for="tipoEspacioPartidaTramo" class="form-label">Tipo de espacio</label>
                        <select id="tipoEspacioPartidaTramo" class="form-select">
                            <option selected>Elegir...</option>
                            <option value="trabajo">Espacio de Trabajo</option>
                            <option value="hogar">Hogar</option>
                            <option value="parada">Parada</option>
                        </select>
                    </div>

                    <div class="hidden" id="claseEspacioTrabajoPartidaTramo" >
                        <div>
                            <div>
                                <label for="pisoTrabajoPartida" class="form-label">Piso</label>
                                <input type="number" class="form-control" id="pisoTrabajoPartidaTramo">
                            </div>
                            <div>
                                <label for="unidadPartida" class="form-label">Unidad</label>
                                <input type="text" class="form-control" id="unidadPartidaTramo">
                            </div>
                        </div>

                    </div>

                    <div class="hidden" id="claseHogarPartidaTramo">
                        <div class="col-md-6">
                            <div>
                                <label for="pisoHogarPartida" class="form-label">Piso</label>
                                <input type="number" class="form-control" id="pisoHogarPartidaTramo">
                            </div>
                            <div>
                                <label for="departamentoPartida" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="departamentoPartidaTramo">
                            </div>
                            <div>
                                <label for="inputHogarPartidaTramo" class="form-label">Tipo de Hogar</label>
                                <select id="inputHogarPartidaTramo" class="form-select">
                                    <option selected>Elegir...</option>
                                    <option value="1">Casa</option>
                                    <option value="2">Departamento</option>
                                    <option value="3">Residencia</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div id="valoresComunesPartidaTramo">

                        <div class="col-md-6">
                            <label for="inputLatitud1" class="form-label">Latitud</label>
                            <input type="number" class="form-control" id="inputLatitudTramo">
                        </div>

                        <div class="col-md-6">
                            <label for="inputLongitud1" class="form-label">Longitud</label>
                            <input type="number" class="form-control" id="inputLongitudTramo">
                        </div>

                        <div class="col-md-6">
                            <label for="inputProvincia1" class="form-label">Provincia</label>
                            <input type="number" class="form-control" id="inputProvinciaTramo">
                        </div>

                        <div class="col-6">
                            <label for="inputMunicipioTramo" class="form-label">Municipio</label>
                            <select id="inputMunicipioTramo" class="form-select">
                                <option selected>Elegir...</option>
                                <option value="1">Municipio1</option>
                                <option value="2">Municipio2</option>
                                <option value="3">Municipio3</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="inputLocalidadTramo" class="form-label">Localidad</label>
                            <select id="inputLocalidadTramo" class="form-select">
                                <option selected>Elegir...</option>
                                <option value="1">Localidad1</option>
                                <option value="2">Localidad2</option>
                                <option value="3">Localidad3</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="inputDireccion1" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="inputDireccionTramo">
                        </div>

                        <div class="col-md-6">
                            <label for="inputNumero1" class="form-label">Numero</label>
                            <input type="number" class="form-control" id="inputNumeroTramo">
                        </div>

                        <div class="col-md-6">
                            <label for="inputCodigoPostal1" class="form-label">Codigo Postal</label>
                            <input type="number" class="form-control" id="inputcodigoPostalTramo">
                        </div>


                    </div>

                </div>

                <div class= "hidden" id="espacioExistentesPartidaTramo" >
                    <div class="col-md-6">
                        <label class="form-label">Seleccione un punto de partida existente</label>
                        <select multiple class="form-control" id="puntoPartidaExistenteTramo">
                            <option>Partida1</option>
                            <option>Partida2</option>
                            <option>Partida3</option>
                            <option>Partida4</option>
                            <option>Partida5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="llegada" id="llegadaTramo">
                <div>
                    <h3> Completar el punto de llegada </h3>
                </div>
                <div id="opcionesLlegadaTramo">
                    <p>¿Desea crear un espacio nuevo o usar uno existente?</p>
                    <label for="tipoLlegadaTramo" class="form-label"></label>
                    <select id="tipoLlegadaTramo" class="form-select">
                        <option selected>Elegir...</option>
                        <option value="nuevo">Nuevo</option>
                        <option value="existente">Existente</option>

                    </select>
                </div>

                <div class= "hidden" id="espacioNuevoLlegadaTramo">

                    <div>
                        <label for="tipoEspacioLlegadaTramo" class="form-label">Tipo de espacio</label>
                        <select id="tipoEspacioLlegadaTramo" class="form-select">
                            <option selected>Elegir...</option>
                            <option value="trabajo">Espacio de Trabajo</option>
                            <option value="hogar">Hogar</option>
                            <option value="parada">Parada</option>
                        </select>
                    </div>

                    <div class="hidden" id="claseEspacioTrabajoLlegadaTramo" >
                        <div>
                            <div>
                                <label for="pisoTrabajoLlegada" class="form-label">Piso</label>
                                <input type="number" class="form-control" id="pisoTrabajoLlegadaTramo">
                            </div>
                            <div>
                                <label for="unidadLlegada" class="form-label">Unidad</label>
                                <input type="text" class="form-control" id="unidadLlegadaTramo">
                            </div>
                        </div>

                    </div>

                    <div class="hidden" id="claseHogarLlegadaTramo">
                        <div class="col-md-6">
                            <div>
                                <label for="pisoHogarLlegada" class="form-label">Piso</label>
                                <input type="number" class="form-control" id="pisoHogarLlegadaTramo">
                            </div>
                            <div>
                                <label for="departamentoLlegadaTramo" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="departamentoLlegadaTramo">
                            </div>
                            <div>
                                <label for="inputHogarLlegadaTramo" class="form-label">Tipo de Hogar</label>
                                <select id="inputHogarLlegadaTramo" class="form-select">
                                    <option selected>Elegir...</option>
                                    <option value="1">Casa</option>
                                    <option value="2">Departamento</option>
                                    <option value="3">Residencia</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <label for="inputLatitudLlegadaTramo" class="form-label">Latitud</label>
                        <input type="number" class="form-control" id="inputLatitudLlegadaTramo">
                    </div>

                    <div class="col-md-6">
                        <label for="inputLongitudLlegadaTramo" class="form-label">Longitud</label>
                        <input type="number" class="form-control" id="inputLongitudLlegadaTramo">
                    </div>

                    <div class="col-md-6">
                        <label for="inputProvinciaLlegadaTramo" class="form-label">Provincia</label>
                        <input type="number" class="form-control" id="inputProvinciaLlegadaTramo">
                    </div>

                    <div class="col-6">
                        <label for="inputMunicipioLlegadaTramo" class="form-label">Municipio</label>
                        <select id="inputMunicipioLlegadaTramo" class="form-select">
                            <option selected>Elegir...</option>
                            <option value="1">Municipio1</option>
                            <option value="2">Municipio2</option>
                            <option value="3">Municipio3</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputLocalidadLlegadaTramo" class="form-label">Localidad</label>
                        <select id="inputLocalidadLlegadaTramo" class="form-select">
                            <option selected>Elegir...</option>
                            <option value="1">Localidad1</option>
                            <option value="2">Localidad2</option>
                            <option value="3">Localidad3</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputDireccionLlegadaTramo" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="inputDireccionLlegadaTramo">
                    </div>

                    <div class="col-md-6">
                        <label for="inputNumeroLlegadaTramo" class="form-label">Numero</label>
                        <input type="number" class="form-control" id="inputNumeroLlegadaTramo">
                    </div>

                    <div class="col-md-6">
                        <label for="inputCodigoPostalLlegadaTramo" class="form-label">Codigo Postal</label>
                        <input type="number" class="form-control" id="inputCodigoPostalLlegadaTramo">
                    </div>

                </div>

                <div class= "hidden" id="espacioExistentesLlegadaTramo" >
                    <div class="col-md-6">
                        <label class="form-label">Seleccione un punto de llegada existente</label>
                        <select multiple class="form-control" id="puntoLlegadaExistenteTramo">
                            <option>Llegada1</option>
                            <option>Llegada2</option>
                            <option>Llegada3</option>
                        </select>
                    </div>
                </div>


            <div id="medioTransporteTramo">
                <br>
                <h5> Elegir medio de Transporte</h5>
                <label for="medioTransporte" class="form-label"></label>
                <select id="medioTransporte" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="servicioContratado">Servicio Contratado</option>
                    <option value="transporteNoMotorizado">Transporte No Motorizado</option>
                    <option value="transportePublico">Transporte publico</option>
                    <option value="vehiculoParticular">Vehiculo particular</option>
                </select>
            </div>


            <div id="divServicioContratado" class = "hidden">
                <br>
                <h5> Elegir tipo de servicio contratado</h5>
                <label for="servicioContratado" class="form-label"></label>
                <select id="servicioContratado" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="taxi">Taxi</option>
                    <option value="remis">Remis</option>

                </select>

            </div>

            <div id="divNoMotorizado" class = "hidden">
                <br>
                <h5>Elegir tipo de no motorizado</h5>
                <label for="noMotorizado" class="form-label"></label>
                <select id="noMotorizado" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="aPie">A pie</option>
                    <option value="bici">Bici</option>
                    <option value="otros">Spawneo</option>

                </select>

            </div>

            <div id="divTransportePublico" class="hidden">
                <h5> Elegir tipo de transporte publico</h5>
                <label for="transportePublico" class="form-label"></label>
                <select id="transportePublico" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="subte">Subte</option>
                    <option value="colectivo">Colectivo</option>
                    <option value="tren">Tren</option>

                </select>

                <h5> Completar nombre del transporte pubico, por ejemplo: 7A</h5>
                <div>
                    <label for="nombreTransporte" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreTransporte">
                </div>

            </div>

            <div id="divVehiculoParticular" class="hidden">
                <h5> Elegir tipo de vehiculo particular</h5>
                <label for="vehiculoParticular" class="form-label"></label>
                <select id="vehiculoParticular" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="auto">Auto</option>
                    <option value="camioneta">Camioneta</option>
                    <option value="moto">Moto</option>
                </select>

                <h5>Elegir tipo de combustible</h5>
                <label for="tipoCombustible" class="form-label"></label>
                <select id="tipoCombustible" class="form-select">
                    <option selected>Elegir...</option>
                    <option value="nafta">Nafta</option>
                    <option value="gnc">GNC</option>
                    <option value="electrico">Electrico</option>
                    <option value="gasoil">Gasoil</option>
                </select>
            </div>

        </div>


    </div>

        <div id="tramoExistente">

            <p> estamos en un tramo existente</p>

        </div>


      <div>

          <div id="agregarMasTramos">
              <br>
              <button class="w-100 btn btn-lg btn-primary">Agregar otro tramo</button>
          </div>

          <div id="tramosCompletos">
              <br>
              <button class="w-100 btn btn-lg btn-primary" type="submit">No mas tramos</button>
          </div>
          <br>
    </div>
    </div>
</form>
<!-- Footer-->
<footer class="py-5 bg-color1">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mi Impacto Ambiental 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
    <script src="js/scriptTrayectos.js"></script>
    <script src="js/scriptTramos.js"></script>

</body>
</html>
