<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Reporte</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.png" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color3">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">
      <img src="../static/imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Impacto Ambiental
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="#about">Aceptar vinculacion</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownHC" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ejecutar calculadora HC</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownHC">
            <li><a class="dropdown-item" href="#!">Anual</a></li>
            <!--<li><hr class="dropdown-divider" /></li>-->
            <li><a class="dropdown-item" href="#!">Mensual</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visualizar</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Reportes</a></li>
            <!--<li><hr class="dropdown-divider" /></li>-->
            <li><a class="dropdown-item" href="#!">Recomendaciones</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Registrar</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Mediciones</a></li>
            <li><a class="dropdown-item" href="#!">Area</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav1" id="navbarSupportedContent1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-end">
        <li class="nav-item"><a class="nav-link active" aria-current="page">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Section-->
<div class="formulario1">
  <div class="rendered-form">
    <div class="">
      <h1 access="false" id="control-2188050">Reporte HC Total - Evolución</h1></div>
    <div class="col-md-6">
      <label class="form-label">Seleccione la evolución que desea obtener:</label>
      <select name="SectorXOrganizacion" id="SectorXOrganizacion">
        <optgroup label="Sector">
          <option value="Sector1">Sector 1</option>
          <option value="Sector2">Sector 2</option>
          <option value="Sector3">Sector 3</option>
        </optgroup>
        <optgroup label="Organización">
          <option value="Organizacion1">Organización 1</option>
          <option value="Organizacion2">Organización 2</option>
          <option value="Organizacion3">Organización 3</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-color1 fixed-bottom">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mi Impacto Ambiental 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>