<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chart MySQL</title>

  <style>
  </style>
</head>
<body>
<br>
<br>
<br>
<br>
<canvas id="myChart" style="position: relative; height: 40vh; width: 80vw;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  var ctx = document.getElementById('myChart').getContext("2d");

  let delayed;
  let gradient = ctx.createLinearGradient(0,0,0,400);
  gradient.addColorStop(0, "rgba(58,123,213,1)");
  gradient.addColorStop(1, "rgba(0,210,255,0.3)");

  const myChart = new Chart(ctx, {
    type:'line',
    data:{
      labels: ['2017', '2018', '2019', '2020', '2021', '2022'],
      datasets: [{
        label: 'HC Total',
        data: [17,13,22,3,10,6],
        backgroundColor: gradient,
        borderColor: ['black'],
        borderWidth:1,
        pointStyle: 'circle',
        pointRadius: 5,
        pointHoverRadius: 10,
        pointBackgroundColor: 'rgb(189,195,199)',
        tension:0.5,
        fill: true
      }]
    },
    options:{
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Evolución HC',
        }
      }
    }
  })

  /*
  let url = 'http://localhost:8080/hc_provincia'
  fetch(url)
          .then( response => response.json() )
          .then( datos => mostrar(datos) )
          .catch( error => console.log(error) )


  const mostrar = (reporteProvincia) =>{
    reporteProvincia.forEach(provincia => {
      myChart.data['labels'].push(provincia.provincia)
      myChart.data['datasets'][0].data.push(2)
      myChart.update()
    });
    console.log(myChart.data)
  }*/



</script>
</body>
</html>