.trayectos {
    padding: 20px 30px;
    margin: 30px;
    box-sizing: content-box;
}


.formulario1 {
    padding: 20px 30px;
    margin: 30px;
    box-sizing: content-box;
}

.color1 {
    color:#457b9d;
}

.color2 {
    color: #dddddd;
}

.color3 {
    color: #324766;
}

.color4 {
    color: #47ae73;
}

.bg-color1 {
    background-color: #457b9d;
}

.bg-color2 {
    background-color: #dddddd;
}

.bg-color3 {
    background-color: #324766;
}

.bg-color4 {
    background-color: #47ae73;
}

.hidden{
    display: none
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.botonRegistroExistente {
    color: #000;
    background-color: #adc7ec;
    border-color: #0d6efd;
    position: absolute;
    top: 100px;
    right: 100px;
}