.trayectos {
    padding: 20px 30px;
    margin: 30px;
    box-sizing: content-box;
}


.formulario1 {
    padding: 20px 30px;
    margin: 30px;
    box-sizing: content-box;
}

.color1 {
    color:#457b9d;
}

.color2 {
    color: #dddddd;
}

.color3 {
    color: #324766;
}

.color4 {
    color: #47ae73;
}

.bg-color1 {
    background-color: #457b9d;
}

.bg-color2 {
    background-color: #dddddd;
}

.bg-color3 {
    background-color: #324766;
}

.bg-color4 {
    background-color: #47ae73;
}

.hidden{
    display: none
}